*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


#hero
{
    width: 100%;
    height: 100vh;
    background-image: url(/Website/bg1.png);
    background-size: cover;
    background-position: center;
    position: relative;
}
.navbar
{
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 10;
}

.navbar .logo
{
    width: 60px;
    margin: 30px 0;
    cursor: pointer;
}

.user
{
    display: flex;
    align-items: center;
}

.user img{
    width: 30px;
    margin-left: 50px;
    cursor: pointer;
}

.user button
{
    padding:10px 95px;
    border: 2px solid white;
    border-radius: 20px;
    color: white;
    outline: none;
    background: transparent;
    font-weight: bold;
    cursor: pointer;
}

.container
{
    width: 50%;
    height: 100vh;
    background: rgb(88, 88, 88,.3);
    backdrop-filter: blur(10px);
    position: absolute;
    left: 0;
    top: 0;
}

.info
{
    width:750px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.info h1{
    font-size: 90px;
    letter-spacing: 10px;
}

.info p
{
    font-size: 15px;
    line-height: 25px;
}

.info input
{
    margin-top: 25px;
    width: 50%;
    padding: 8px 25px;
    background: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 25px;
    outline: none;
}

::placeholder
{
    color: white;
}

.slider
{
    display: flex;
    align-items: center;
    position: absolute;
    right: 30px;
    bottom: 50px;
}

#prev, #next
{
    width: 20px;
    cursor: pointer;
}

.preview
{
    display: flex;
    align-items: center;
    margin: 0px 60px;
}

.preview img
{
    width: 60px;
    margin: 0 10px;
    opacity: 0.5;
}

.preview .active
{
    display: block;
    border: 3px soild white;
    width: 100px;
    opacity: 1;
}